apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  creationTimestamp: null
  name: csdp-cap-app-proxy
spec:
  ingressClassName: nginx
  rules:
  - host: daniel-ingresshost.ngrok.io
    http:
      paths:
      - backend:
          service:
            name: cap-app-proxy
            port:
              number: 3017
        path: /app-proxy
        pathType: Prefix
